html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --rose: #fdbaa3;
  --white: #ffffff;
  --midnight: #3c3d43;
  --cream-white: #fffdfa;
  --semantic-red: #f7685c;
  --semantic-green: #30c58d;
  --opaque-light-yellow: rgba(251, 235, 149, 0.4);
  --opaque-red-orange: rgba(253, 186, 163, 0.4);
  --opaque-lilac: rgba(182, 165, 203, 0.4);
  --opaque-green-cyan: rgba(151, 210, 188, 0.6);
  --opaque-light-cyan: rgba(174, 223, 232, 0.6);
  --gray-900: #000000;
  --gray-800: #343539;
  --gray-600: #4d4d4d;
  --gray-400: #808080;
  --gray-300: #8c8a97;
}
