.container {
  display: flex;
  flex-direction: column;
  margin: 53px 0 0 0;
}

.title {
  margin: 0 0 7px 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
  color: #000000;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #4d4d4d;
}
